#page-home {
  height: 100%;
  position: relative;

  overflow-x: hidden;
}

#page-home .optionsBar {
  display: flex;
  flex-direction: row;
  width: 100%;

  background-color: #00bfff;
}

#page-home .optionsBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 50%;
  margin-left: 25%;
}

#page-home .optionsBar ul li {
  display: flex;
  justify-content: space-between;

  width: 25%;
  text-align: center;

  font-weight: bold;
  font-size: 20px;

  margin-top: 2%;
}

#page-home .optionsBar ul .recipeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67%;
}

#page-home .optionsBar ul .recipeContainer:hover {
  opacity: 0.7;
}

#page-home .optionsBar ul li .recipeIcon {
margin-top: 4%;
}

#page-home .optionsBar ul .favoriteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

#page-home .optionsBar ul .favoriteContainer:hover {
  opacity: 0.7;
}

#page-home .optionsBar ul .communityContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 73%;
}

#page-home .optionsBar ul .communityContainer:hover {
  opacity: 0.7;
}

#page-home .optionsBar ul .communityContainer .communityIcon{ 
  margin-top: 4%;
}

#page-home .optionsBar .language-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  align-items: center;
  width: 25%;
}

#page-home .optionsBar .language-container a {
  margin-right: 2%;
  cursor: pointer;
}


#page-home .optionsBar .language-container a + a{
  margin-top: 2%;
}

#page-home .menu-bar {
  display: none;
  justify-content: center;
}

#page-home .menu-bar .button-style {
  color: black;
  font-style: Ubuntu;
  width: 100%;
}

#page-home .thumb-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #b0c4de;
  width: 100%;
  height: 370px;
  position: relative;
}

#page-home .thumb-content .thumb-texts {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#page-home .thumb-content .thumb-texts .text-thumb {
  display: flex;
  position: relative;

  width: 90%;
  height: 162px;

  margin-right: 10%;
  margin-top: 28px;

  border: 5px solid darkslategray;
  border-radius: 6px;
}

#page-home .thumb-content .thumb-texts .text-thumb2 {
  display: block;
  position: relative;
  width: 90%;
  height: 162px;
  margin-right: 10%;
  margin-top: 27px;
  border: 5px solid darkslategray;
  border-radius: 6px;
}

#page-home .thumb-content .thumb-texts .text-thumb .welcome {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
}

#page-home .thumb-content .thumb-texts .text-thumb .welcome-subtitle {
  position: absolute;
  top: 70px;
  left: 17%;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  font-weight: 550;
}

#page-home .thumb-content .thumb-texts .text-thumb2 .welcome {
  position: absolute;
  top: 20px;
  left: 36%;
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
}

#page-home .thumb-content .thumb-texts .text-thumb2 .welcome-subtitle {
  position: absolute;
  top: 70px;
  left: 46%;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  font-weight: 550;
}

#page-home .thumb-content .thumb-texts .text-thumb .image-welcome {
  position: absolute;
  top: 5px;
  left: 70%;
  width: 165px;
}

#page-home .thumb-content .thumb-texts .text-thumb2 .image-welcome {
  position: absolute;
  top: 15px;
  left: 2%;
  width: 190px;
}

#page-home .thumb-content .carousel-container {
  display: flex;
  position: relative;
  width: 50%;
}

#page-home .thumb-content .carouselPosition {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 5%;
  top: 7%;
}

#page-home .thumb-content .carouselSlider {
  border: 3px solid darkslategray;
  border-radius: 8px;
}

#page-home .recipes-container {
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 735px;

  margin-left: 10%;
  margin-top: -7%;
  margin-bottom: 10%;
}

#page-home .recipes-container .title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#page-home .recipes-container .title-container .title-style {
  font-family: Ubuntu;
  font-size: 45px;
  margin-left: 30%;
}
#page-home .recipes-container .title-container .post-container {
  display: flex;
  flex-direction: row;

  position: relative;
  margin-top: 0.3%;

  width: 20%;
  height: 90%;

  padding-left: 1%;

  border: 2px solid darkslategray;
  border-radius: 10px;
  background-color: #5f9ea0;
}

#page-home .recipes-container .title-container .post-container:hover {
  opacity: 0.9;
  background-color: #588485;
}

#page-home .recipes-container .title-container .post-container .post-recipe {
  position: absolute;

  font-weight: bold;
  font-size: 22px;
  color: black;
  text-decoration: none;

  top: 15%;

  width: 70%;

  border-radius: 5px;
}


#page-home .recipes-container .title-container .post-container .pencilIcon {
  position: absolute;
  top: 15%;
  left: 80%;
}

#page-home .recipes-container .grid-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  margin-top: 2%;
  margin-bottom: 3%;
}

a {
  width: 40px;
  height: 25px;
}

.brazil-flag-size {
  width: 40px;
  height: 36px;
}

.brazil-flag-size.active {
  padding: 2px;
  background-color: #b0c4de;
}


.usa-flag-size {
  width: 40px;
  height: 25px;
}

.select-container {
  width: 200px;
}

.option-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option-select-container img{
  margin-right: 5px;
}

.carousel-control-next-icon {
  background-image: none !important;
}

.carousel-control-prev-icon {
  background-image: none !important;
}

/* select#gender option[value="en"]   { background-image:url(../../assets/usa-flag.jpg);   }
select#gender option[value="pt"] { background-image:url(../../assets/brazil-flag.png); } */

@media screen and (min-width: 300px) and (max-width: 700px) {
  #page-home .thumb-content {
    width: 100%;
    height: 380px;
  }

  #page-home .thumb-content .thumb-texts {
    display: none;
  }

  #page-home .thumb-content .carousel-container {
    width: 100%;
    height: 400px;
  }

  #page-home .thumb-content .carouselPosition {
    left: 0%;
    top: 0%;
  }

  #page-home .thumb-content .carouselSlider {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 350px;
  }

  .wave-size {
    margin-top: -5px;
    height: 150px;
  }

  #page-home .optionsBar {
    display: none;
  }

  #page-home .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bfff;
  }

  #page-home .menu-bar .button-style {
    width: 30%;
  }

  #page-home .menu-bar .toggle-button {
    border-radius: 8px;
    color: black;
    font-style: Ubuntu;
    width: 100%;
    margin-left: 0%;
  }

  #page-home .recipes-container {
    display: flex;
    justify-content: center;

    width: 90%;
    height: 100%;

    margin-left: 5%;
    margin-top: -15%;
    margin-bottom: 10%;
  }

  #page-home .recipes-container .title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #page-home .recipes-container .title-container .title-style {
    font-family: Ubuntu;
    font-size: 35px;
    margin-left: 0%;
  }
  #page-home .recipes-container .title-container .post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 0%;

    width: 40%;
    height: 30px;
    border: 1px solid black;

    border: 2px solid darkslategray;
    border-radius: 5px;
    background-color: #5f9ea0;
  }

  #page-home .recipes-container .title-container .post-container:hover {
    opacity: 0.9;
    background-color: #588485;
  }

  #page-home .recipes-container .title-container .post-container .post-recipe {
    position: absolute;
    align-items: center;
    vertical-align: middle;
    top: 0%;

    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: none;

    border-radius: 5px;
  }

  #page-home .recipes-container .title-container .post-container .pencilIcon {
    display: none;
  }

  #page-home .recipes-container .grid-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: 2%;
    margin-bottom: 3%;
  }
}
