.hidden-scroll {
  overflow-x: hidden;
}

#partnerships-container {
  height: 100%;

  padding: 5%;
  background: #f0f0f5;
}

#partnerships-container .card-container {
  display: flex;
  flex-direction: row;

  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
}

#partnerships-container .card-container + .card-container {
  margin-top: 5%;
}

#partnerships-container .card-container .logo-container-rafael {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 60%;
  padding-right: 10%;
}

#partnerships-container .card-container .logo-container-molera {
  display: flex;
  justify-content: center;
  background-color: #dc8420;
  width: 60%;
}

#partnerships-container .card-container .logo-container-bruno {
  display: flex;
  justify-content: center;
  background-color: #b82828;
  width: 60%;
}

#partnerships-container .card-container .logo-container-negrini {
  display: flex;
  justify-content: center;
  background-color: #722f37;
  width: 60%;
}

#partnerships-container .card-container .logo-container-rafael .image-rafael {
  width: 75%;
}

#partnerships-container .card-container .logo-container-bruno .image-bruno {
  width: 35%;
}

#partnerships-container .card-container .logo-container-molera .image-molera {
  width: 35%;
}

#partnerships-container .card-container .logo-container-negrini .image-negrini {
  width: 65%;
}

#partnerships-container .card-container .details-container {
  display: flex;
  flex-direction: column;

  width: 40%;
  padding: 2%;

  background-color: white;
}

#partnerships-container .card-container .details-container .branch-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  font-family: Ubuntu;
}

#partnerships-container
  .card-container
  .details-container
  .branch-container
  .branch-title {
  font-size: 1.3rem;
  font-weight: bold;
}

#partnerships-container
  .card-container
  .details-container
  .branch-container
  .branch-content {
  display: flex;
  justify-content: center;
  color: white;
  width: 35%;
  border-radius: 12px;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  padding: 1.5%;
}

#partnerships-container
  .card-container
  .details-container
  .branch-container
  .branch-content:hover {
  opacity: 0.9;
}

#partnerships-container
  .card-container
  .details-container
  .description-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  font-family: Ubuntu;
  padding: 2%;
}

#partnerships-container
  .card-container
  .details-container
  .description-container
  .description-title {
  font-size: 1.3rem;
  font-weight: bold;
}

#partnerships-container
  .card-container
  .details-container
  .description-container
  .description-content {
  font-size: 0.95rem;
  margin-left: 2%;
}

#partnerships-container .card-container .details-container .notes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  font-family: Ubuntu;
  padding: 2%;
}

#partnerships-container
  .card-container
  .details-container
  .notes-container
  .notes-title {
  font-size: 1.3rem;
  font-weight: bold;
}

#partnerships-container
  .card-container
  .details-container
  .notes-container
  .notes-image {
  width: 30%;
  margin-right: 34%;
  margin-bottom: 2%;
}

#partnerships-container .card-container .details-container button {
  width: 40%;
  margin-left: 35%;
  border: 1px solid black;
  border-radius: 30px;
  color: white;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 1.25rem;
}

.color-negrini {
  background-color: #722f37;
}

.color-molera {
  background-color: #dc8420;
}

.color-rafael {
  background-color: black;
}

.color-bruno {
  background-color: #b82828;
}
