#page-recipes {
  height: 100vh;
  position: relative;

  overflow-x: hidden;
  background: #f0f0f5;
}

.title-container {
  font-family: Alata;
  font-weight: bold;

  align-items: center;
  text-align: center;
  margin-top: 2%;
}
.recipes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.recipes-container + .recipes-container {
  margin-bottom: 5%;
}

.card-recipe-details {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 600px;

  text-decoration: none;
  color: black;

  cursor: pointer;

  border-radius: 8px;
  border: 2px solid black;
}

.card-recipe-details:hover {
  width: 61%;
  height: 610px;
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

.card-recipe-details .card-image {
  display: flex;
  width: 100%;

  height: 75%;
}
.recipe-title {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 15%;
  padding-left: 3%;

  font-family: Alata;
  font-weight: 500;
  font-size: 44px;
}

.card-recipe-details .card-image .size-card-image {
  width: 100%;
  height: 100%;
}
.recipe-title .favorite-recipe {
  margin-right: 3%;
  margin-top: 1%;
}

.favorite-recipe:hover {
  color: red;
  fill: red;
}
.card-recipe-details .card-description {
  font-family: Ubuntu;
  font-size: 20px;

  padding-left: 3%;
  width: 100%;
  height: 15%;
}

.card-recipe-details .card-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-right: 3%;

  font-family: Ubuntu;
  font-size: 18px;
}

.card-recipe-details .card-detail .rating-recipe {
  display: flex;
  flex-direction: row;
  font-family: Ubuntu;
  font-size: 20px;

  padding-left: 3%;
  width: 60%;

  align-items: center;
  vertical-align: center;
}

.card-recipe-details .card-detail .rating-recipe .title-rating {
  font-size: 20px;
  margin-top: 2%;
}

.card-recipe-details .card-detail .rating-recipe .size-stars {
  width: 30%;
  margin-left: 1%;
}

@media (max-width: 700px) {
  .title-container {
    margin-top: 5%;
    font-size: 1.6rem;
  }
  .recipes-container {
    margin-top: 5%;
  }
  
  .recipes-container + .recipes-container {
    margin-top: 10%;
  }
  
  .card-recipe-details {
    width: 80%;
    height: 350px;
  
    text-decoration: none;
    color: black;
  }
  
  .card-recipe-details:hover {
    width: 80%;
    height: 350px;
    opacity: 0.9;
  }
  
  .card-recipe-details .card-image {
    display: flex;
    width: 100%;
  
    height: 75%;
  }
  .recipe-title {
    padding-left: 3%;
    height: 12%;
    font-size: 1.5rem;
  }
  
  .recipe-title .favorite-recipe {
    margin-right: 3%;
    margin-top: -3%;
    width: 30px;
  }

  .card-recipe-details .card-description {
    font-family: Ubuntu;
    font-size: 1.1rem;
  
    padding-left: 3%;
    width: 100%;
    height: 20%;
  }
  
  .card-recipe-details .card-detail {
    font-family: Ubuntu;
    font-size: 1rem;
    align-items: center;
    vertical-align: center;
    padding-right: 3%;
  }
  
  .card-recipe-details .card-detail .rating-recipe {
    display: flex;
    flex-direction: row;
    font-family: Ubuntu;
  
    padding-left: 3%;
    width: 60%;
  
    align-items: center;
    vertical-align: center;
  }
  
  .card-recipe-details .card-detail .rating-recipe .title-rating {
    font-size: 1rem;
    margin-top: 4%;
  }
  
  .card-recipe-details .card-detail .rating-recipe .size-stars {
    width: 40%;
    margin-left: 1%;
  }

  .card-recipe-details .card-detail span {
    font-size: 0.8rem;
  }
}